{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "import/extensions": 0,
    "new-cap": 0,
    "no-confusing-arrow": 0,
    "react/jsx-uses-vars": 1,
    "react/forbid-prop-types": 0
  }
}
